* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
/* header start  */
.media_header {
  position: fixed;
  top: 100px;
  left: 20px;
  width: 56px;
  padding: 15px;
  z-index: 2;
}
header a {
  text-decoration: none;
}
.media {
  display: none;
}
.button {
  width: 56px;
  height: 56px;
  padding: 0px 20px;
  border-radius: 50px;
  color: #45505b;
  font-size: 15px;
  background: #f2f3f5;
  line-height: 56px;
  margin-bottom: 10px;
  overflow: hidden;
  transition: 0.5s;
}
.button:hover {
  width: 150px;
  border-radius: 50px;
  color: #fff;
  background: #0563bb;
}
.button span {
  margin-left: 30px;
}

/* Header  end */

/* main_content start  */

.main {
  width: 100%;
  height: 600px;
  position: relative;
  background: white;
}
.main_img {
  width: 100%;
  height: 600px;
  background: url(..//images/removebg-preview.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 90% 0%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.main_content {
  position: absolute;
  top: 180px;
  left: 200px;
  color: #45505b;
  z-index: 2;
}
.main_content h1 {
  font-size: 64px;
  font-weight: bold;
  line-height: 56px;
}

.main_content p {
  margin: 18px 0px;
  font-size: 26px;
}
.content_logo {
  display: flex;
  margin-top: 30px;
}
.content_logo a {
  color: #45505b;
}
.content_logo i {
  padding-right: 20px;
  font-size: 24px;
}

/* main_content End  */

/* about start  */

.about {

  margin-left: 200px;
  text-align: center;
  margin-right: 20px;
}
.about h2 {
  font-size: 32px;
  padding-bottom: 20px;
  display: inline-block;
  border-bottom: 3px solid #000;
  margin-bottom: 20px;
}
.designer {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-left: 200px;
  padding: 40px 10px;
}
.chirag_image {
  height: 340px;
  background: url(../images/DSC_0120.JPG);
  border-radius: 5px;
  background-size: cover;
}
.detail {
  padding: 0px 20px;
  margin-bottom: 70px;
}
.detail h3 {
  padding-bottom: 20px;
  color: #728394;
}
.personal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 0px;
  row-gap: 25px;
}
.personal i {
  margin-right: 10px;
  color: #0563bb;
}
.bio {
  font-weight: bold;
  color: #272829;
}

/* about :end  */

/* skill start  */
.main_skill {
  height: 100vh;
}

.skill_about {
  margin-bottom: 50px;
}
.about h2 {
  font-size: 32px;
  padding-bottom: 20px;
  display: inline-block;
  border-bottom: 3px solid #000;
  margin-bottom: 20px;
}

.skills {
  display: flex;
  margin-left: 200px;
  font-family: "Poppins", sans-serif;
}
.skill_sub {
  width: 50%;
}
.skill_sub input {
  width: 90%;
  padding: 5px;
  height: 50px;
}

.skill_sub h4 {
  color: #45505b;
  font-size: 12px;
}

/* resume  start */
.resume {
  margin-left: 200px;
  text-align: center;
}
.resume_main {
  width: 100%;
  height: 850px;
  background: url(../images/resume.png);
  background-repeat: no-repeat;
}

/* resume end  */

/* project start  */
.project{
  margin-left: 200px;
  text-align: center;
}
.pro_main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  width: 100%;
}
.flexpro{
  height: 300px;
  margin: 15px 0px;
  background: url(../images/flex_project.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.gridpro{
  height: 300px;
  background: url(../images/grid_project.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.bootpro{
  height: 300px;
  background: url(../images/bootproject.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.contact {
  margin-left: 200px;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}
.contact_con {
  display: grid;
  grid-template-columns: 4fr 8fr;
}
.contact h2 {
  font-size: 32px;
  padding-bottom: 20px;
  display: inline-block;
  border-bottom: 3px solid #000;
  margin-bottom: 20px;
}
.c_l {
  width: 50%;
  display: grid;
  text-align: left;
  grid-template-columns: 1fr 6fr;
}

.c_logo {
  text-align: center;
  padding: 10px;
  width: 65px;
  height: 65px;
  line-height: 50px;
  background: #f2f3f5;
  border-radius: 50%;
  font-size: 26px;
  color: #0563bb;
  margin-bottom: 30px;
  margin-right: 20px;
}
.logo_contant {
  padding-top: 15px;
}

.name_email {
  width: 100%;
}
.contact input:focus {
  outline: 0;
  border-width: 0 0 1px;
  border-color: #0563bb;
}
.name_email .name {
  padding: 10px;
  width: 40%;
  height: 40px;
}
.name_email .subject {
  width: 80%;
  height: 40px;
  margin: 20px 70px;
  padding: 10px;
}
.name_email .message {
  width: 80%;
  height: 100px;
  margin: 0px 70px;
  padding: 10px;
  outline: none;
}
.c_r {
  outline: none;
}
.c_r button {
  background: #0563bb;
  border-radius: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 200px;
  padding: 15px;
  border: none;
  color: white;
  font-size: 18px;
}
.c_r button:hover {
  background: #007aff;
}

/* footer start  */

footer {
  text-align: center;
  margin: 20px;
}
footer p {
  padding-top: 20px;
}
.c_icons i {
  background: #0563bb;
  color: #fff;
  margin: 15px 10px;
  border-radius: 50%;
  padding: 10px 10px;
}
.c_icons i:hover {
  background: #007aff;
}
